In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import cluster,neighbors,svm,metrics,preprocessing

In [46]:
df = pd.read_csv('/content/healthcare-dataset-stroke-data.csv')
df = df.drop('id', axis=1)
df = df.dropna()
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [4]:
le = preprocessing.LabelEncoder()
for colums in df.columns:
  if df[colums].dtypes == 'object':
    df[colums] = le.fit_transform(df[colums])

df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.6,1,1
2,1,80.0,0,1,1,2,0,105.92,32.5,2,1
3,0,49.0,0,0,1,2,1,171.23,34.4,3,1
4,0,79.0,1,0,1,3,0,174.12,24.0,2,1
5,1,81.0,0,0,1,2,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,0,13.0,0,0,0,4,0,103.08,18.6,0,0
5106,0,81.0,0,0,1,3,1,125.20,40.0,2,0
5107,0,35.0,0,0,1,3,0,82.99,30.6,2,0
5108,1,51.0,0,0,1,2,0,166.29,25.6,1,0
5109,0,44.0,0,0,1,0,1,85.28,26.2,0,0

In [5]:
df['age'] = df['age'].astype(int)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67,0,1,1,2,1,228.69,36.6,1,1
2,1,80,0,1,1,2,0,105.92,32.5,2,1
3,0,49,0,0,1,2,1,171.23,34.4,3,1
4,0,79,1,0,1,3,0,174.12,24.0,2,1
5,1,81,0,0,1,2,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,0,13,0,0,0,4,0,103.08,18.6,0,0
5106,0,81,0,0,1,3,1,125.20,40.0,2,0
5107,0,35,0,0,1,3,0,82.99,30.6,2,0
5108,1,51,0,0,1,2,0,166.29,25.6,1,0
5109,0,44,0,0,1,0,1,85.28,26.2,0,0

In [6]:
df_normal = df

In [8]:
df = df.drop('age', axis=1)

In [9]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

In [10]:
corr = df_normal.corr()
corr.style.background_gradient(cmap='coolwarm')

#Usando KNN

In [14]:
df1 = pd.read_csv('/content/healthcare-dataset-stroke-data.csv')
df1 = df1.drop('id', axis=1)
df1 = df1.dropna()
df1

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [15]:
le = preprocessing.LabelEncoder()
for colums in df1.columns:
  if df1[colums].dtypes == 'object':
    df1[colums] = le.fit_transform(df1[colums])

df1

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.6,1,1
2,1,80.0,0,1,1,2,0,105.92,32.5,2,1
3,0,49.0,0,0,1,2,1,171.23,34.4,3,1
4,0,79.0,1,0,1,3,0,174.12,24.0,2,1
5,1,81.0,0,0,1,2,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,0,13.0,0,0,0,4,0,103.08,18.6,0,0
5106,0,81.0,0,0,1,3,1,125.20,40.0,2,0
5107,0,35.0,0,0,1,3,0,82.99,30.6,2,0
5108,1,51.0,0,0,1,2,0,166.29,25.6,1,0
5109,0,44.0,0,0,1,0,1,85.28,26.2,0,0

In [16]:
df1['age'] = df1['age'].astype(int)
df1['avg_glucose_level'] = df1['avg_glucose_level'].astype(int)
df1['bmi'] = df1['bmi'].astype(int)
df1

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67,0,1,1,2,1,228,36,1,1
2,1,80,0,1,1,2,0,105,32,2,1
3,0,49,0,0,1,2,1,171,34,3,1
4,0,79,1,0,1,3,0,174,24,2,1
5,1,81,0,0,1,2,1,186,29,1,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,0,13,0,0,0,4,0,103,18,0,0
5106,0,81,0,0,1,3,1,125,40,2,0
5107,0,35,0,0,1,3,0,82,30,2,0
5108,1,51,0,0,1,2,0,166,25,1,0
5109,0,44,0,0,1,0,1,85,26,0,0

In [17]:
df1 = df1.drop('age', axis=1)
df1

,gender,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,0,1,1,2,1,228,36,1,1
2,1,0,1,1,2,0,105,32,2,1
3,0,0,0,1,2,1,171,34,3,1
4,0,1,0,1,3,0,174,24,2,1
5,1,0,0,1,2,1,186,29,1,1
...,...,...,...,...,...,...,...,...,...,...
5104,0,0,0,0,4,0,103,18,0,0
5106,0,0,0,1,3,1,125,40,2,0
5107,0,0,0,1,3,0,82,30,2,0
5108,1,0,0,1,2,0,166,25,1,0
5109,0,0,0,1,0,1,85,26,0,0

In [18]:
corr = df1.corr()
corr.style.background_gradient(cmap='coolwarm')

In [19]:
salvar2 = df1.to_csv('stroke_knn.csv', index=False)

dados2 = pd.read_csv('/content/stroke_knn.csv')
dados2

,gender,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,0,1,1,2,1,228,36,1,1
1,1,0,1,1,2,0,105,32,2,1
2,0,0,0,1,2,1,171,34,3,1
3,0,1,0,1,3,0,174,24,2,1
4,1,0,0,1,2,1,186,29,1,1
...,...,...,...,...,...,...,...,...,...,...
4904,0,0,0,0,4,0,103,18,0,0
4905,0,0,0,1,3,1,125,40,2,0
4906,0,0,0,1,3,0,82,30,2,0
4907,1,0,0,1,2,0,166,25,1,0
4908,0,0,0,1,0,1,85,26,0,0

Nesse exemplo, carregamos o dataset a partir de um arquivo CSV e separamos as variáveis independentes da variável dependente. Em seguida, utilizamos a função ***train_test_split()*** para dividir o conjunto de dados em subconjuntos de treinamento e teste, passando X e y como argumentos, definindo o tamanho do conjunto de teste como 20% do tamanho do conjunto de dados original, e fixando a semente de aleatoriedade em 42.

In [20]:
from sklearn.model_selection import train_test_split

# separando as variáveis independentes da variável dependente
X = dados2.drop('stroke', axis=1)
y = dados2['stroke']

# separando os dados em subconjuntos de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# exibindo os conjuntos de treinamento e teste
print('Train sample:')
print(X_train.head())

print('Train target:')
print(y_train.head())

print('Test sample:')
print(X_test.head())

Train sample:
      gender  hypertension  heart_disease  ever_married  work_type  \
3404       0             0              0             1          2
843        0             0              0             1          3
2581       0             0              0             1          2
4020       1             0              0             1          3
2619       1             0              0             1          3

      Residence_type  avg_glucose_level  bmi  smoking_status
3404               1                 65   31               2
843                1                 81   32               0
2581               1                217   36               2
4020               1                 71   23               1
2619               1                 95   28               2
Train target:
3404    0
843     0
2581    0
4020    0
2619    0
Name: stroke, dtype: int64
Test sample:
      gender  hypertension  heart_disease  ever_married  work_type  \
4153       1             0              1             1          2
3543       0             0              0             0          2
907        1             1              0             1          2
2522       1             0              0             1          0
3107       1             0              0             1          2

      Residence_type  avg_glucose_level  bmi  smoking_status
4153               0                125   32               0
3543               1                 84   31               2
907                0                 74   32               2
2522               1                102   26               3
3107               0                 88   22               3

In [21]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

knn = neighbors.KNeighborsClassifier(n_neighbors=2, algorithm='auto')
knn.fit(X_train, y_train)
resultKNN = knn.predict(X_test)

# calcula a acurácia, precisão, revocação, medida F1 e matriz de confusão
acc = accuracy_score(y_test, resultKNN)
prec = precision_score(y_test, resultKNN, average='macro')
cm = confusion_matrix(y_test, resultKNN)

# exibe as métricas
print('Acurácia:', acc)
print('Precisão:', prec)
print('Matriz de Confusão:\n', cm)

Acurácia: 0.9439918533604889
Precisão: 0.4729591836734694
Matriz de Confusão:
 [[927   2]
 [ 53   0]]

#Usando árvore de decisão

In [43]:
df_arv = pd.read_csv("/content/healthcare-dataset-stroke-data.csv")
df_arv = df_arv.drop('id', axis=1)
df_arv = df_arv.dropna()
df_arv

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [44]:
le = preprocessing.LabelEncoder()
for colums in df_arv.columns:
  if df_arv[colums].dtypes == 'object':
    df_arv[colums] = le.fit_transform(df_arv[colums])

df_arv

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.6,1,1
2,1,80.0,0,1,1,2,0,105.92,32.5,2,1
3,0,49.0,0,0,1,2,1,171.23,34.4,3,1
4,0,79.0,1,0,1,3,0,174.12,24.0,2,1
5,1,81.0,0,0,1,2,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,0,13.0,0,0,0,4,0,103.08,18.6,0,0
5106,0,81.0,0,0,1,3,1,125.20,40.0,2,0
5107,0,35.0,0,0,1,3,0,82.99,30.6,2,0
5108,1,51.0,0,0,1,2,0,166.29,25.6,1,0
5109,0,44.0,0,0,1,0,1,85.28,26.2,0,0

In [51]:
col_age = df_arv['age']
normalized_age = preprocessing.normalize([col_age], norm='l2').T
df_arv['age'] = normalized_age

col_work = df_arv['work_type']
normalized_work = preprocessing.normalize([col_work], norm='l2').T
df_arv['work_type'] = normalized_work

col_avg = df_arv['avg_glucose_level']
normalized_avg = preprocessing.normalize([col_avg], norm='l2').T
df_arv['avg_glucose_level'] = normalized_avg

col_bmi = df_arv['bmi']
normalized_bmi = preprocessing.normalize([col_bmi], norm='l2').T
df_arv['bmi'] = normalized_bmi

col_smoke = df_arv['smoking_status']
normalized_smoke = preprocessing.normalize([col_smoke], norm='l2').T
df_arv['smoking_status'] = normalized_smoke
df_arv

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,0.019743,0,1,1,0.011749,1,0.028559,0.017447,0.008198,1
2,1,0.023573,0,1,1,0.011749,0,0.013227,0.015492,0.016397,1
3,0,0.014439,0,0,1,0.011749,1,0.021383,0.016398,0.024595,1
4,0,0.023279,1,0,1,0.017624,0,0.021744,0.011440,0.016397,1
5,1,0.023868,0,0,1,0.011749,1,0.023254,0.013824,0.008198,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,0,0.003831,0,0,0,0.023498,0,0.012873,0.008866,0.000000,0
5106,0,0.023868,0,0,1,0.017624,1,0.015635,0.019067,0.016397,0
5107,0,0.010313,0,0,1,0.017624,0,0.010364,0.014587,0.016397,0
5108,1,0.015028,0,0,1,0.011749,0,0.020766,0.012203,0.008198,0
5109,0,0.012965,0,0,1,0.000000,1,0.010650,0.012489,0.000000,0

In [53]:
df_arv = df_arv.drop('age', axis=1)
corr2 = df_arv.corr()
corr2.style.background_gradient(cmap='coolwarm')

In [55]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [56]:
# separando as variáveis independentes da variável dependente
X_arv = df_arv.drop('stroke', axis=1)
y_arv = df_arv['stroke']

# separando os dados em subconjuntos de treinamento e teste
X_train_arv, X_test_arv, y_train_arv, y_test_arv = train_test_split(X_arv, y_arv, test_size=0.2, random_state=42)

# exibindo os conjuntos de treinamento e teste
print('Train sample:')
print(X_train_arv.head())

print('Train target:')
print(y_train_arv.head())

print('Test sample:')
print(X_test_arv.head())

Train sample:
      gender  hypertension  heart_disease  ever_married  work_type  \
3565       0             0              0             1   0.011749
898        0             0              0             1   0.017624
2707       0             0              0             1   0.011749
4198       1             0              0             1   0.017624
2746       1             0              0             1   0.017624

      Residence_type  avg_glucose_level       bmi  smoking_status
3565               1           0.008213  0.014873        0.016397
898                1           0.010195  0.015635        0.000000
2707               1           0.027149  0.017447        0.016397
4198               1           0.008889  0.011393        0.008198
2746               1           0.011974  0.013585        0.016397
Train target:
3565    0
898     0
2707    0
4198    0
2746    0
Name: stroke, dtype: int64
Test sample:
      gender  hypertension  heart_disease  ever_married  work_type  \
4336       1             0              1             1   0.011749
3709       0             0              0             0   0.011749
964        1             1              0             1   0.011749
2647       1             0              0             1   0.000000
3262       1             0              0             1   0.011749

      Residence_type  avg_glucose_level       bmi  smoking_status
4336               0           0.015650  0.015683        0.000000
3709               1           0.010494  0.014968        0.016397
964                0           0.009354  0.015302        0.016397
2647               1           0.012788  0.012823        0.024595
3262               0           0.011051  0.010582        0.024595

In [57]:
clf = DecisionTreeClassifier()
clf.fit(X_train_arv, y_train_arv)

DecisionTreeClassifier()

In [60]:
y_pred_arv = clf.predict(X_test_arv)

In [64]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test_arv, y_pred_arv)
print("Acurácia: ", acc)

precision = precision_score(y_test_arv, y_pred_arv)
print("Precisão: ", precision)

cm = confusion_matrix(y_test_arv, y_pred_arv)
print("Matriz de confusão:")
print(cm)

Acurácia:  0.9134419551934827
Precisão:  0.11904761904761904
Matriz de confusão:
[[892  37]
 [ 48   5]]

Uma árvore de decisão é uma técnica de aprendizado de máquina supervisionado que pode ser usada para resolver problemas de classificação e regressão.

Uma árvore de decisão é construída a partir de um conjunto de dados de treinamento e funciona dividindo o conjunto de dados em subconjuntos menores com base nas características dos dados.

Em cada etapa da construção da árvore de decisão, a técnica escolhe a característica que melhor separa os dados em subconjuntos mais homogêneos.

A biblioteca scikit-learn oferece uma implementação fácil de usar de árvores de decisão em Python, que permite aos usuários ajustar facilmente os hiperparâmetros e personalizar a configuração do modelo.

Para garantir que o modelo de árvore de decisão esteja bem ajustado aos dados de treinamento, é importante usar técnicas como validação cruzada e ajuste de hiperparâmetros.

É importante notar que árvores de decisão tendem a ter problemas de overfitting, especialmente em conjuntos de dados com muitas características ou dados ruidosos. É recomendável usar técnicas como regularização para evitar esse problema.