In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import cluster,neighbors,svm,metrics,preprocessing

In [ ]:
df = pd.read_csv('/content/healthcare-dataset-stroke-data.csv')
df = df.drop('id', axis=1)
df = df.dropna()
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [ ]:
le = preprocessing.LabelEncoder()
for colums in df.columns:
  if df[colums].dtypes == 'object':
    df[colums] = le.fit_transform(df[colums])

df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.6,1,1
2,1,80.0,0,1,1,2,0,105.92,32.5,2,1
3,0,49.0,0,0,1,2,1,171.23,34.4,3,1
4,0,79.0,1,0,1,3,0,174.12,24.0,2,1
5,1,81.0,0,0,1,2,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,0,13.0,0,0,0,4,0,103.08,18.6,0,0
5106,0,81.0,0,0,1,3,1,125.20,40.0,2,0
5107,0,35.0,0,0,1,3,0,82.99,30.6,2,0
5108,1,51.0,0,0,1,2,0,166.29,25.6,1,0
5109,0,44.0,0,0,1,0,1,85.28,26.2,0,0

In [ ]:
df['age'] = df['age'].astype(int)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67,0,1,1,2,1,228.69,36.6,1,1
2,1,80,0,1,1,2,0,105.92,32.5,2,1
3,0,49,0,0,1,2,1,171.23,34.4,3,1
4,0,79,1,0,1,3,0,174.12,24.0,2,1
5,1,81,0,0,1,2,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,0,13,0,0,0,4,0,103.08,18.6,0,0
5106,0,81,0,0,1,3,1,125.20,40.0,2,0
5107,0,35,0,0,1,3,0,82.99,30.6,2,0
5108,1,51,0,0,1,2,0,166.29,25.6,1,0
5109,0,44,0,0,1,0,1,85.28,26.2,0,0

In [ ]:
df_normal = df

In [ ]:
normalized_df = preprocessing.normalize(df)
df = pd.DataFrame(normalized_df, columns=df.columns)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0.004147,0.277873,0.000000,0.004147,0.004147,0.008295,0.004147,0.948459,0.151793,0.004147,0.004147
1,0.007315,0.585217,0.000000,0.007315,0.007315,0.014630,0.000000,0.774827,0.237744,0.014630,0.007315
2,0.000000,0.270063,0.000000,0.000000,0.005511,0.011023,0.005511,0.943734,0.189596,0.016534,0.005511
3,0.000000,0.409867,0.005188,0.000000,0.005188,0.015565,0.000000,0.903368,0.124517,0.010376,0.005188
4,0.004875,0.394839,0.000000,0.000000,0.004875,0.009749,0.004875,0.907692,0.141362,0.004875,0.004875
...,...,...,...,...,...,...,...,...,...,...,...
4904,0.000000,0.123078,0.000000,0.000000,0.000000,0.037870,0.000000,0.975914,0.176096,0.000000,0.000000
4905,0.000000,0.524483,0.000000,0.000000,0.006475,0.019425,0.006475,0.810682,0.259004,0.012950,0.000000
4906,0.000000,0.367654,0.000000,0.000000,0.010504,0.031513,0.000000,0.871760,0.321435,0.021009,0.000000
4907,0.005687,0.290055,0.000000,0.000000,0.005687,0.011375,0.000000,0.945750,0.145596,0.005687,0.000000
4908,0.000000,0.442281,0.000000,0.000000,0.010052,0.000000,0.010052,0.857221,0.263358,0.000000,0.000000

In [ ]:
 df = df.drop('age', axis=1)

In [ ]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
corr = df_normal.corr()
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
salvar = df.to_csv('stroke_normalized.csv', index=False)

In [ ]:
dados = pd.read_csv('/content/stroke_normalized.csv')
dados

,gender,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0.004147,0.000000,0.004147,0.004147,0.008295,0.004147,0.948459,0.151793,0.004147,0.004147
1,0.007315,0.000000,0.007315,0.007315,0.014630,0.000000,0.774827,0.237744,0.014630,0.007315
2,0.000000,0.000000,0.000000,0.005511,0.011023,0.005511,0.943734,0.189596,0.016534,0.005511
3,0.000000,0.005188,0.000000,0.005188,0.015565,0.000000,0.903368,0.124517,0.010376,0.005188
4,0.004875,0.000000,0.000000,0.004875,0.009749,0.004875,0.907692,0.141362,0.004875,0.004875
...,...,...,...,...,...,...,...,...,...,...
4904,0.000000,0.000000,0.000000,0.000000,0.037870,0.000000,0.975914,0.176096,0.000000,0.000000
4905,0.000000,0.000000,0.000000,0.006475,0.019425,0.006475,0.810682,0.259004,0.012950,0.000000
4906,0.000000,0.000000,0.000000,0.010504,0.031513,0.000000,0.871760,0.321435,0.021009,0.000000
4907,0.005687,0.000000,0.000000,0.005687,0.011375,0.000000,0.945750,0.145596,0.005687,0.000000
4908,0.000000,0.000000,0.000000,0.010052,0.000000,0.010052,0.857221,0.263358,0.000000,0.000000

In [ ]:
from sklearn.model_selection import train_test_split

# separando as variáveis independentes da variável dependente
X = dados.drop('stroke', axis=1)
y = dados['stroke']

# separando os dados em subconjuntos de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# exibindo os conjuntos de treinamento e teste
print('Train sample:')
print(X_train.head())

print('Train target:')
print(y_train.head())

print('Test sample:')
print(X_test.head())

Train sample:
        gender  hypertension  heart_disease  ever_married  work_type  \
3404  0.000000           0.0            0.0      0.012031   0.024061
843   0.000000           0.0            0.0      0.009435   0.028306
2581  0.000000           0.0            0.0      0.004391   0.008782
4020  0.009049           0.0            0.0      0.009049   0.027148
2619  0.008378           0.0            0.0      0.008378   0.025135

      Residence_type  avg_glucose_level       bmi  smoking_status
3404        0.012031           0.791254  0.375356        0.024061
843         0.009435           0.770294  0.309476        0.000000
2581        0.004391           0.954636  0.160716        0.008782
4020        0.009049           0.644122  0.216276        0.009049
2619        0.008378           0.803301  0.238778        0.016756
Train target:
3404    0.0
843     0.0
2581    0.0
4020    0.0
2619    0.0
Name: stroke, dtype: float64
Test sample:
        gender  hypertension  heart_disease  ever_married  work_type  \
4153  0.006566      0.000000       0.006566      0.006566   0.013132
3543  0.000000      0.000000       0.000000      0.000000   0.020182
907   0.009531      0.009531       0.000000      0.009531   0.019063
2522  0.009105      0.000000       0.000000      0.009105   0.000000
3107  0.009737      0.000000       0.000000      0.009737   0.019474

      Residence_type  avg_glucose_level       bmi  smoking_status
4153        0.000000           0.822863  0.216025        0.000000
3543        0.010091           0.847966  0.316865        0.020182
907         0.000000           0.713903  0.305958        0.019063
2522        0.009105           0.932360  0.244927        0.027315
3107        0.000000           0.861635  0.216163        0.029211

In [ ]:
knn = neighbors.KNeighborsClassifier(n_neighbors=7, algorithm='auto')
knn.fit(X_train, y_train)
resultKNN = knn.predict(X_test)

ValueError: ignored

#Usando KNN

In [ ]:
df1 = pd.read_csv('/content/healthcare-dataset-stroke-data.csv')
df1 = df1.drop('id', axis=1)
df1 = df1.dropna()
df1

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [ ]:
le = preprocessing.LabelEncoder()
for colums in df1.columns:
  if df1[colums].dtypes == 'object':
    df1[colums] = le.fit_transform(df1[colums])

df1

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.6,1,1
2,1,80.0,0,1,1,2,0,105.92,32.5,2,1
3,0,49.0,0,0,1,2,1,171.23,34.4,3,1
4,0,79.0,1,0,1,3,0,174.12,24.0,2,1
5,1,81.0,0,0,1,2,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,0,13.0,0,0,0,4,0,103.08,18.6,0,0
5106,0,81.0,0,0,1,3,1,125.20,40.0,2,0
5107,0,35.0,0,0,1,3,0,82.99,30.6,2,0
5108,1,51.0,0,0,1,2,0,166.29,25.6,1,0
5109,0,44.0,0,0,1,0,1,85.28,26.2,0,0

In [ ]:
df1['age'] = df1['age'].astype(int)
df1['avg_glucose_level'] = df1['avg_glucose_level'].astype(int)
df1['bmi'] = df1['bmi'].astype(int)
df1

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67,0,1,1,2,1,228,36,1,1
2,1,80,0,1,1,2,0,105,32,2,1
3,0,49,0,0,1,2,1,171,34,3,1
4,0,79,1,0,1,3,0,174,24,2,1
5,1,81,0,0,1,2,1,186,29,1,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,0,13,0,0,0,4,0,103,18,0,0
5106,0,81,0,0,1,3,1,125,40,2,0
5107,0,35,0,0,1,3,0,82,30,2,0
5108,1,51,0,0,1,2,0,166,25,1,0
5109,0,44,0,0,1,0,1,85,26,0,0

In [ ]:
df1 = df1.drop('age', axis=1)
df1

,gender,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,0,1,1,2,1,228,36,1,1
2,1,0,1,1,2,0,105,32,2,1
3,0,0,0,1,2,1,171,34,3,1
4,0,1,0,1,3,0,174,24,2,1
5,1,0,0,1,2,1,186,29,1,1
...,...,...,...,...,...,...,...,...,...,...
5104,0,0,0,0,4,0,103,18,0,0
5106,0,0,0,1,3,1,125,40,2,0
5107,0,0,0,1,3,0,82,30,2,0
5108,1,0,0,1,2,0,166,25,1,0
5109,0,0,0,1,0,1,85,26,0,0

In [ ]:
corr = df1.corr()
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
salvar2 = df1.to_csv('stroke_knn.csv', index=False)

dados2 = pd.read_csv('/content/stroke_knn.csv')
dados2

,gender,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,0,1,1,2,1,228,36,1,1
1,1,0,1,1,2,0,105,32,2,1
2,0,0,0,1,2,1,171,34,3,1
3,0,1,0,1,3,0,174,24,2,1
4,1,0,0,1,2,1,186,29,1,1
...,...,...,...,...,...,...,...,...,...,...
4904,0,0,0,0,4,0,103,18,0,0
4905,0,0,0,1,3,1,125,40,2,0
4906,0,0,0,1,3,0,82,30,2,0
4907,1,0,0,1,2,0,166,25,1,0
4908,0,0,0,1,0,1,85,26,0,0

Nesse exemplo, carregamos o dataset a partir de um arquivo CSV e separamos as variáveis independentes da variável dependente. Em seguida, utilizamos a função ***train_test_split()*** para dividir o conjunto de dados em subconjuntos de treinamento e teste, passando X e y como argumentos, definindo o tamanho do conjunto de teste como 20% do tamanho do conjunto de dados original, e fixando a semente de aleatoriedade em 42.

In [ ]:
from sklearn.model_selection import train_test_split

# separando as variáveis independentes da variável dependente
X = dados2.drop('stroke', axis=1)
y = dados2['stroke']

# separando os dados em subconjuntos de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# exibindo os conjuntos de treinamento e teste
print('Train sample:')
print(X_train.head())

print('Train target:')
print(y_train.head())

print('Test sample:')
print(X_test.head())

Train sample:
      gender  hypertension  heart_disease  ever_married  work_type  \
3404       0             0              0             1          2
843        0             0              0             1          3
2581       0             0              0             1          2
4020       1             0              0             1          3
2619       1             0              0             1          3

      Residence_type  avg_glucose_level  bmi  smoking_status
3404               1                 65   31               2
843                1                 81   32               0
2581               1                217   36               2
4020               1                 71   23               1
2619               1                 95   28               2
Train target:
3404    0
843     0
2581    0
4020    0
2619    0
Name: stroke, dtype: int64
Test sample:
      gender  hypertension  heart_disease  ever_married  work_type  \
4153       1             0              1             1          2
3543       0             0              0             0          2
907        1             1              0             1          2
2522       1             0              0             1          0
3107       1             0              0             1          2

      Residence_type  avg_glucose_level  bmi  smoking_status
4153               0                125   32               0
3543               1                 84   31               2
907                0                 74   32               2
2522               1                102   26               3
3107               0                 88   22               3

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

knn = neighbors.KNeighborsClassifier(n_neighbors=2, algorithm='auto')
knn.fit(X_train, y_train)
resultKNN = knn.predict(X_test)

# calcula a acurácia, precisão, revocação, medida F1 e matriz de confusão
acc = accuracy_score(y_test, resultKNN)
prec = precision_score(y_test, resultKNN, average='macro')
cm = confusion_matrix(y_test, resultKNN)

# exibe as métricas
print('Acurácia:', acc)
print('Precisão:', prec)
print('Matriz de Confusão:\n', cm)

Acurácia: 0.9439918533604889
Precisão: 0.4729591836734694
Matriz de Confusão:
 [[927   2]
 [ 53   0]]